@import url("https://fonts.googleapis.com/css2?family=Koulen&family=League+Spartan:wght@200;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

body {
  background-image: url(fondo.svg);
  margin: 6% 0 5% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koulen", cursive;
}

p {
  font-family: "Poppins", sans-serif;
}

/* Css de la calculadora */
button {
  width: 20%;
  height: 50px;
  font-size: 25px;
  border: 2px solid #343a40;
  border-radius: 12px;
}

.bg-light {
  background-color: #b4f8c8 !important;
}

.borrar {
  width: 90%;
}